<div class="min-h-screen">

    {{ partial:components.heading }}
        NORTHERN THAILAND
    {{ /partial:components.heading }}

    {{ partial:components.lead }}
        Adventure starts where the road ends.
    {{ /partial:components.lead }}

    {{ partial:components.text }}
        Discover the most beautiful roads and hidden places in Northern Thailand.
    {{ /partial:components.text }}    
    
    {{ partial:components.label }}
        Chiang Mai
    {{ /partial:components.label }}

    {{ partial:components.uitext }}
        Book Tour
    {{ /partial:components.uitext }}
</div>