<div class="min-h-screen">
    <div class="flex">
        <img src="Hilltribe Riders Logo Plain.svg" class="w-58"> 
    </div>
    <div class="max-w-lg mx-auto mt-3 mb-12">
            {{ partial:components.heading }}
                NORTHERN THAILAND
            {{ /partial:components.heading }}

            {{ partial:components.lead }}
                Adventure starts where the road ends
            {{ /partial:components.lead }}

            {{ partial:components.text }}
                Discover the most beautiful roads and hidden places in Northern Thailand.
            {{ /partial:components.text }}    
            
            {{ partial:components.label }}
                Chiang Mai
            {{ /partial:components.label }}

    </div>
</div>